<div class="animated fadeIn">

  <app-verify></app-verify>
  <app-verify></app-verify>
  <app-verify></app-verify>
  
  <!-- este es segun commit para el branh 2 de camnio -->
  <!-- este es segun commit para el branh 2 de camnio --><!-- este es segun commit para el branh 2 de camnio -->
  <!-- este es segun commit para el branh 2 de camnio -->
  
  <!-- este es segun commit para el branh 2 de camnio -->
  <!-- este es segun commit para el branh 2 de camnio -->
  
  
   <!-- este es segun commit para el branh 2 de camnio -->
  
  <!-- cambio de branch por ejemplo -->
    <!-- cambio de branch por ejemplo -->
</div>
