<div class="animated fadeIn">

  <app-verify></app-verify>
  <app-verify></app-verify>
  <app-verify></app-verify>

  cambios rapidos
  
  <!-- este es segun commit para el branh 2 de camnio -->
  <!-- este es segun commit para el branh 2 de camnio --><!-- este es segun commit para el branh 2 de camnio -->
  <!-- este es segun commit para el branh 2 de camnio -->
  
  <!-- este es segun commit para el branh 2 de camnio -->
  <!-- este es segun commit para el branh 2 de camnio -->
  
  
   <!-- este es segun commit para el branh 2 de camnio -->
  
  <!-- cambio de branch por ejemplo -->
    <!-- //cambio de branch test feature5 -->
	
	  <app-verify></app-verify> demooooo
  <app-verify></app-verify>
  <app-verify></app-verify>
</div>
